<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Campeonato Interno 2019</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>

    @Html.Partial("Topo")

    <main role="main" class=" bg-light">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading"><strong>Campeonato Interno</strong> <br />2019 SPFC Osasco</h1>

                <p>
                    <a href="/jogos/categoria/Sub7" class="btn btn-secondary my-2">Sub 7</a>
                    <a href="/jogos/categoria/Sub9" class="btn btn-secondary my-2">Sub 9</a>
                    <a href="/jogos/categoria/Sub12" class="btn btn-secondary my-2">Sub 12</a>
                    <a href="/jogos/categoria/Sub15" class="btn btn-secondary my-2">Sub 15</a>
                </p>

                <p>
                    <a href="/jogo/classificacao" class="btn btn-success my-2">Classificação Geral</a>
                    <a href="/jogo/artilheiro/Sub7" class="btn btn-info my-2">Artilheiros</a>
                </p>

            </div>
        </section>

        <div class="album py-2">
            <div class="container">

                @RenderBody()

            </div>
        </div>

    </main>

    @Html.Partial("Rodape")

    @RenderSection("Scripts", false)

</body>
</html>
