
<div class="row">

    @foreach (var time in ViewBag.Listar_Times)
    {

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 text-center">
            <hr />
            <a href="/jogos/time/@time.Id">
                <img src="~/img/escudo/@time.Escudo" />
            </a>
            <br />
            <h5>@time.Nome</h5>
            <p><a class="btn btn-sm btn-secondary" href="/jogos/categoria/@time.Categoria" role="button">@time.Categoria</a></p>
        </div>

    }

</div>