
@{
    ViewData["Title"] = "Jogos da Variavel";
}



<a href="/">HOME</a> |
<a href="/home/jogos">JOGOS</a>

<br />
<br />

<hr />@Url.Action("Jogos")


<h1>@ViewData["Title"]</h1>

@Html.CheckBox("teste", true,  "marcelo")





<p>Use this page to detail your site's privacy policy.</p>
