<h1>@ViewBag.Categoria</h1>
<div class="row">

    @for (int i = 0; i <= 12; i++)
    {

        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">

                <div class="row mt-4">

                    <div class="col-6 text-center jogo_time_1">
                        <span class="placar-esq">3</span>
                        <img src="~/img/escudo/sao-paulo.png" class="escudo" />
                        <br />
                        <strong>São Paulo</strong>
                    </div>

                    <div class="col-6 text-center jogo_time_2">
                        <span class="placar-dir">2</span>
                        <img src="~/img/escudo/cruzeiro.png" class="escudo" />
                        <br />
                        <strong>Cruzeiro</strong>
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text text-center">
                        Data: <u>22/09/2019</u> | Horário: <u>00:20</u>
                    </p>
                    <div class=" align-items-right text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-secondary">Detalhes do Jogo</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    }

</div>


@section Scripts {
    @Html.Partial("_Scripts")
}