.btn-primary {
    background-color: #E51B1F;
    border: 1px solid #911813;
}

.btn-primary:hover {
    background-color: #911813;
}

.jogo_time_1 {
    position: relative;
}

    .jogo_time_1 .placar-esq {
        position: absolute;
        top: 25px;
        right: 5px;
        background-color: #E51B1F;
        color: #ffffff;
        font-size: 26px;
        padding: 0 10px;
    }

.jogo_time_2 {
    position: relative;
    
}

    .jogo_time_2 .placar-dir {
        position: absolute;
        top: 25px;
        left: 5px;
        background-color: #E51B1F;
        color: #ffffff;
        font-size: 26px;
        padding: 0 10px;
    }